* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Whole web page */
    --main-gradient-fill:linear-gradient(0deg, rgba(27,42,62,1) 25%, rgba(38,59,85,1) 55%);
    --main-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --main-white-color: #ffffff;
    --main-navy-color: #181C47;
    --main-background-color: #263B55;
    --main-font-family: 'Roboto', sans-serif;
    --large-font-size: 2.5rem;
    --subtitle-font-size: 1.5rem;
    --caption-font-size: 0.9rem;
    --subcaption-font-size: 0.85rem;
    /* Chart colours */
    --dark-yellow-color: #FF9F40;
    --yellow-color: #F4BE37;
    --main-grey-color: #5e84a188;
    --main-dark-blue-color: #2A306D;
    --electric-blue-color: #3078ff;
    --opaque-electric-blue-color: rgba(48, 120, 255, 0.5);
    --main-orange-color: #E95C49;
    --main-green-color: #2ECC71; 
    /* --main-black-color: #231F20;
    --main-blue-color: #21CBFB; */
    /* --light-blue-color: #C4DFE6;
    --blue-color: #66A5AD; */
}

a {
    color: var(--main-blue-color);
}

li {
    list-style-type: none;
}

header {
    position: sticky;
    top: 0;
    z-index: -1;
    width: 100%;
    background: var(--main-gradient-fill);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#hero {
    justify-content: flex-start;
    padding: 3rem;
    color: var(--main-white-color);
}

#title, #subtitle {
    width: 100%;
    padding-bottom: 1rem;
}

h1 {
    font-size: var(--large-caption-size);
    font-weight: 400;
}

h2 {
    font-size: var(--caption-font-size);
    font-weight: 300;
    color: var(--main-white-color);
}

h3 {
    font-size: var(--subcaption-font-size);
    color: var(--main-background-color);
}

body {
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 400;
    color: var(--main-black-color);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

#bodyWrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100vw;
    background: var(--main-white-color);
}

#introContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: min(90%, 1024px);
    padding: 1rem 1rem;
    margin: 2rem;
}

#introText {
    color: var(--main-background-color);
    width: clamp(350px, 50%, 500px);
    padding: 1.25rem;
}

#subIntroText {
    font-size: var(--large-font-size);
    font-weight: 400;
    padding-bottom: 1.5rem;
}

#introText p {
    font-weight: 300;
    line-height: 1.75rem;
}

#introImageContainer {
    justify-content: center;
    width: clamp(350px, 40%, 500px);
}

#introImage {
    width: 100%;
    aspect-ratio: 1 / 1;
}

#introImage img, .insightImage {
    width: 100%;
}

#insightsContainer {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.indivInsight {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: max(9rem, 25%);
    min-height: 310px;
    margin: 0 1rem;
}

#firstInsight img {
    padding-bottom: 0.5rem;
}

.insightCaption p {
    font-size: 0.75rem;
    color: var(--main-background-color);
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: auto;
}

#dataContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: min(90%, 1024px);
    box-shadow: var(--main-box-shadow);
    margin: 3rem 0;
    padding-top: 2rem;
}

#chartTitle {
    font-size: var(--subtitle-font-size);
    font-weight: 400;
    color: var(--main-background-color);
    padding: 0 3rem 1rem 3rem;
}

#summaryContainer {
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width: 100%;
    padding: 2rem 3rem;
}

.chartSummaryStats {
    display: flex;
    justify-content: center;
    font-size: var(--subtitle-font-size);
    font-weight: 400;
}

/* container */
.spacedTab {
    margin: 1rem 2rem;
}

#latestDataContainer{
    justify-content: center;
    align-items: center;
    border: 2px solid var(--electric-blue-color);
    border-radius: 0.55rem;
}

#forecastTime {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: var(--electric-blue-color);
    border: 2px solid var(--electric-blue-color);
    border-radius: 0.3rem 0 0 0.3rem;
    color: var(--main-white-color);
    padding: 0.5rem 1rem;
}

#forecastTime #timePeriodCaption, #maxCaption, #minCaption {
    font-size: var(--caption-font-size);
    justify-content: center;
    text-align: center;
}

#timePeriodCaption, #intensityContainer {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
}

#timePeriod {
    white-space: nowrap;
}

#intensityGauge {
    margin: 0.2rem 0.25rem 0 0;
}

/* container */
#latestIntensity {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#forecastMax, #forecastMin {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    border: solid 2px var(--electric-blue-color);
    border-radius: 0.5rem;
    color: var(--electric-blue-color);
    padding: 0.5rem 1rem;
}

#chartContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 3rem 2rem 3rem;
}

#piechartWrapper {
    justify-content: space-between;
    align-items: center;
    flex-wrap: reverse;
    width: 100%;
    padding: 0 2rem 2rem 2rem;
}

#piechartLegendContainer {
    justify-content: center;
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: var(--caption-font-size);
    color: var(--main-background-color);
    max-width: 60%;
    padding: 1rem 1rem 1rem 2rem;
}

#piechartLegend {
    width: 100%;
    border-spacing: 0 0.5rem;;
}

tr {
    text-align: center;
    line-height: 1.5rem;
    margin: 0 0.5rem;
}

#legTab-Gas, #legTab-Coal, #legTab-Nuclear {
    color: var(--main-white-color);
    font-weight: 400;
}

#piechartContainer {
    justify-content: center;
    margin-left: auto;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--main-navy-color);
}

#creditsWrapper {
    flex-direction: column;
    flex-wrap: nowrap;
}

#creditsBanner h2 {
    font-size: var(--subtitle-font-size);
    font-weight: 400;
    color: var(--main-white-color);
    padding: 1rem 2rem;
    align-self: end;
}

#pattern {
    width: min(35vw, 200px);
    aspect-ratio: 2 / 1;
    margin-left: auto;
}

#pattern img {
    width: 100%;
    aspect-ratio: 2 / 1;
}

#credits div {
    width: 100%;
    color: var(--main-white-color);
    font-size: var(--caption-font-size);
    padding: 0 2rem 0.5rem 2rem;
}

#logoWrapper {
    margin: 3rem 2rem;
}

#logoWrapper img {
    padding-right: 1rem;
}

#chartjsLogo img {
    height: 60px;
}

@media (max-width: 860px) {
    #introText, #introImageContainer {
        width: 100%;
    }
    #introImage {
        width: clamp(300px, 70%, 420px);
        aspect-ratio: 1 / 1;
    }
    #latestDataContainer {
        margin: 0 8rem;
        min-width: 203px;
    }
     #forecastTime {
        border-radius: 0.3rem 0.3rem 0 0;
        width: 100%;
    }
    #forecastMax, #forecastMin {
        width: 25%;
        flex-direction: row;
        align-self: center;
        margin: 1rem 1vw;
    }
    #piechartLegentContainer {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .indivInsight {
        width: 100%;
        align-items: center;
    }
    .insightImage {
        width:50%;
        margin-bottom: 1rem;
    }
    #latestDataContainer {
        width: 48%;
    }
}