* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Whole web page */
    --main-white-color: #ffffff;
    --main-navy-color: #181C47;
    --main-background-color: #263B55;
    --main-font-family: 'Roboto', sans-serif;
    --large-font-size: 2.5rem;
    --subtitle-font-size: 1.5rem;
    --caption-font-size: 0.9rem;
    --subcaption-font-size: 0.85rem;
    /* Chart colours */
    --dark-yellow-color: #FF9F40;
    --yellow-color: #F4BE37;
    --main-grey-color: #5e84a188;
    --light-grey-color: hsl(206, 26%, 95%);
    --main-dark-blue-color: #2A306D;
    --electric-blue-color: #3078ff;
    --opaque-electric-blue-color: rgba(48, 120, 255, 0.5);
    --main-orange-color: #E95C49;
    --main-green-color: #49ce66; 
}

a {
    color: var(--main-blue-color);
}

li {
    list-style-type: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background: var(--main-white-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--main-background-color);
    transition: all 50ms ease-in-out 10ms;
}

#hero {
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 3rem 1rem 3rem;
    width: 100%;
    transition: padding 400ms ease-in 20ms;
}

#title {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    white-space: nowrap;
    font-size: var(--subtitle-font-size);
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    padding-bottom: 0.5rem;
    user-select: none;
}

#title :hover{
    cursor: pointer;
}

#navCaptionContainer, #navCaptions {
    display: flex;
    align-items: start;
    padding: 0 0.5rem
}

.navCaption {
    font-size: var(--subcaption-font-size);
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.navCaption :hover {
    cursor: pointer
}

h1 {
    font-size: var(--large-font-size);
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
}

h2 {
    font-size: var(--caption-font-size);
    font-weight: 300;
}

h3 {
    font-size: var(--subcaption-font-size);
    color: var(--main-background-color);
}

body {
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 400;
    color: var(--main-black-color);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

#bodyWrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100vw;
    background: var(--main-white-color);
}

#introContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: min(90%, 1024px);
    padding: 1rem 1rem;
    margin: 2rem;
}

#introText {
    color: var(--main-background-color);
    width: clamp(350px, 55%, 600px);
    padding: 1.25rem;
}

#introText h2 {
    align-items: center;
    margin: 0.5rem 0;
}

#introText a, #introText h2 a img {
    margin-left: 0.25rem;
}

#introText h2 a img {
    width: 0.7rem;
}

#subIntroText {
    font-size: var(--subtitle-font-size);
    font-weight: 400;
    padding-bottom: 2rem 0 1.5rem 0;
}

#introText p {
    font-weight: 300;
    line-height: 1.5rem;
}

#introImageContainer {
    justify-content: center;
    width: clamp(300px, 45%, 400px);
}

#introImage {
    display: flex;
    width: 90%;
}

#introImage img {
    aspect-ratio: 1 / 1;
}

#introImage img, .insightImage {
    width: 100%;
}

#insightsContainer {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
}

.indivInsight {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: max(9rem, 25%);
    min-height: 310px;
    margin: 0.5rem 1rem;
}

#firstInsight img {
    padding-bottom: 0.5rem;
}

.insightCaption p {
    font-size: 0.75rem;
    color: var(--main-background-color);
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: auto;
}

#dataWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--light-grey-color);
}

#dataContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: min(100%, 1024px);
    padding: 2rem 0 1rem 0;
}

#summaryContainer {
    justify-content: start;
    align-items: center;
    width: 90%;
    border-radius: 0.75rem;
    margin: 1rem 2rem 0.5rem 2rem;
}

.spacedTab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: clamp(150px, 25%, 211px);
    border-radius: 0.75rem;
    margin: 0.5rem 1rem 0.5rem 0;
    background: var(--main-white-color);
    user-select: none;
    overflow: hidden;
}

.chartSummaryStats {
    display: flex;
    justify-content: center;
    font-size: var(--subtitle-font-size);
    font-weight: 400;
}

/* container */
#latestDataContainer{
    justify-content: center;
    align-items: center;
    border: 2px solid var(--electric-blue-color);
    border-radius: 0.55rem;
}

#forecastTime {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    width: 90%;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--main-background-color);
    padding: 0.5rem 0;
}

#timePeriod {
    white-space: nowrap;
    font-size: 0.8rem;
    padding-right: 0.2rem;
    line-height: 1.5rem;
}

#timePeriodCaption {
    padding-right: 0.2rem;
    line-height: 1.5rem;
}

#intensityContainer, .intensityCaptions, #maxContainer, #minContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding: 0 0 0.5rem 1rem;
    margin-top: 0.5rem;
    font-size: 0.75rem;
}

#intensityContainer, #maxContainer, #minContainer {
    justify-content: space-between;
    padding: 0 1rem;
}

#intensityContainer .chartSummaryStats {
    display: flex;
    justify-content: flex-start;
    width: calc(50% + 1.25rem);
}

.gauge {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;  
    background-color: var(--light-grey-color);
}

/* container */
.tabTitles {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 0 0.5rem 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.75rem;
    white-space: nowrap;
}

.colourTabs {
    width: 100%;
    height: 0.33rem;
    justify-self: flex-start;
    align-self: flex-start;
}

#colourTab1 {
    background: var(--electric-blue-color);
}
#colourTab2 {
    background: var(--dark-yellow-color);
}
#colourTab3 {
    background: var(--main-green-color);
}

.dataSections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--main-white-color);
}

#chartWrapper {
    width: 90%;
    border-radius: 0.75rem;
    padding: 2rem 2rem 1.5rem 2rem;
    margin: 2rem;
}

#gmLineWrapper {
    width: 100%;
    margin: 1rem 0 2rem 0;
}

#gmAccordion {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    /* border: solid 1px var(--main-grey-color); */
    /* border-bottom: none; */
    background: var(--light-grey-color);
    /* margin-bottom: 1rem; */
    cursor: pointer;
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--main-background-color);
    user-select: none;
}

#caret {
    width: 0.7rem;
    margin-left: 0.25rem;
    align-self: start;
    transition: transform 400ms ease-in-out;
}

#chartContainer, #gmLineContainer {
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    width: 100%;
    border-radius: 0.75rem;
}

#chartContainer {
    height: min(50vw, 540px);
}

#gmLineContainer {
    display: none;
    padding-bottom: 1rem;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    height: min(550px, 70vw);
}

#gmLineChartCaption {
    display: none;
    padding-bottom: 1rem;
    justify-content: start;
    width: 100%;
    font-size: 0.8rem;
    padding: 0.5rem;
    color: var(--main-background-color);
}

#piechartSection {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
    width: 90%;
    border-radius: 0.75rem;
    background: var(--main-white-color);
    padding: 2rem 2rem 1.5rem 2rem;
    margin-bottom: 1rem;
}

#chartTitle, #piechartTitle {
    width: 100%;
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--main-background-color);
    margin-bottom: 1rem;
}

#piechartWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap-reverse;
    width: 100%;
    border-radius: 0.75rem;
}

#piechartLegendContainer {
    justify-content: center;
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: var(--caption-font-size);
    color: var(--main-background-color);
    max-width: 60%;
    padding: 1rem;
}

#piechartLegend {
    width: 100%;
    border-spacing: 0 0.5rem;;
}

tr {
    text-align: center;
    line-height: 1.5rem;
    margin: 0 0.5rem;
}

#piechartContainer {
    justify-content: center;
    position: relative;
    width: max(270px, 40%);
    aspect-ratio: 1 / 1;
    padding: 1rem 2rem 2rem 2rem;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--main-navy-color);
}

#creditsWrapper {
    flex-direction: column;
    flex-wrap: nowrap;
}

#creditsBanner h2 {
    font-size: var(--subtitle-font-size);
    font-weight: 400;
    color: var(--main-white-color);
    padding: 1rem 2rem;
    align-self: end;
}

#pattern {
    width: min(35vw, 200px);
    aspect-ratio: 2 / 1;
    margin-left: auto;
}

#pattern img {
    width: 100%;
    aspect-ratio: 2 / 1;
}

#credits div {
    width: 100%;
    color: var(--main-white-color);
    font-size: var(--caption-font-size);
    padding: 0 2rem 0.5rem 2rem;
}

#logoWrapper {
    margin: 3rem 2rem;
}

#logoWrapper img {
    padding-right: 1rem;
}

#chartjsLogo img {
    height: 60px;
}

@media (max-width: 860px) {
    #introContainer {
        justify-content: center;
    }
    #introText, #introImageContainer {
        width: 100%;
    }
    #introImage {
        width: max(280px, 40%);
        aspect-ratio: 1 / 1;
    }
    #introImageContainer {
        margin-bottom: 2rem;
    }
    #latestDataContainer {
        margin: 0 8rem;
        min-width: 203px;
    }
    #summaryContainer {
        justify-content: center;
    }
    .spacedTab {
        width: 30%;
    }
     #forecastTime {
        padding-left: 1rem;
        width: 100%;
    }
    #forecastContainer {
        width: 50%;
        overflow: hidden;
    }
    #chartContainer {
        padding: 0.75rem 0.5rem;
    }
    #piechartLegendContainer {
        max-width: 100%;
    }
    #piechartContainer {
        width: max(150px, 60%);
        padding: 1rem;
        aspect-ratio: 3 / 2;
    }
    #gmLineContainer {
        padding: 0;
    }
}

@media (max-width: 640px) {
    #title {
        align-items: start;
        width: 100%;
    }
    #navCaptionContainer, #navCaptions {
        justify-content: start;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .navCaption {
        padding: 0.5rem 1rem 0.5rem 0;
        margin: 0 1rem 0 0;
        white-space: nowrap;
    }
    #insightsContainer {
        justify-content: center;
    }
    .indivInsight {
        width: max(280px, 70%);
        align-items: center;
    }
    .insightImage {
        width: 70%;
        margin-bottom: 1rem;
    }
    #latestDataContainer {
        width: 48%;
    }
    #chartContainer {
        width: 100%;
        height: 70vw;
    }
}

@media (max-width: 535px) {
    #hero {
        padding: 1.5rem 1.5rem 1rem 1.5rem;
    }
    #summaryContainer {
        justify-content: center;
    }
     .spacedTab {
        width: max(133px, 45%);
     }
}